.header {
  padding: 3rem 0;
  width: 100%;
  .content-more {
    .float {
      width: 100%;
      max-width: 600px;
      height: 100%;
      max-height: 410px;
      float: left;
      padding: 1rem;
    }
    img {
      border-radius: 6px;
    }
    .welcome {
      padding-top: 70px;
      h1 {
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 5px;
      }
      p {
        margin: 30px 0;
        text-align: justify;
        line-height: 1.4rem;
        text-indent: 1rem;
      }
    }
  }
  .content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
    img {
      grid-column: span 6;
      border-radius: 6px;
    }
    .welcome {
      grid-column: span 6;
      h1 {
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 5px;
      }
      p {
        margin: 30px 0;
        text-align: justify;
        line-height: 1.4rem;
        text-indent: 1rem;
      }
      a {
        padding: 1rem;
        border-radius: 6px;
        color: #f2f2f2;
        background: #333;
        opacity: 1;
        transition: all 0.4s ease-in-out;
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
  @media screen and (max-width: 960px) {
    .content {
      img {
        grid-column: 2 / span 10;
        height: 20rem;
      }
      .welcome {
        grid-column: span 12;
        text-align: center;
      }
    }
  }
}
