@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&family=VT323&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  background: #f5f5f5;
  font-family: "Poppins";
}
.app {
  display: flex;
  width: 100%;
  flex-direction: column;
}
img {
  width: 100%;
}
.container {
  max-width: 1200px;
  margin: 60px auto;
  padding: 20px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 30px;
}
